<div ng-controller="IndexController">
  <!-- The variable in the ng-if is not the variable passed through, but the angular variable defined in the controller -->
  <div ng-if="carryScore == 0">
  	<div class = "textbox">
      BETTER LUCK NEXT TIME...
    </div>
  </div>

  <div ng-if="carryScore == 1">
    <div class = "textbox">
      SOME OF THOSE FOODS DID NOT GIVE ME ENOUGH ENERGY. WE CAN DO BETTER.
    </div>
  </div>
  
  <div ng-if="carryScore == 2">
  	<div class = "textbox">
      GOOD JOB!
    </div>
  </div>

  <div style="text-align: center;" ng-repeat="item in data">
    <img class="food_tile" ng-src="{{ item.URL }}" alt="Image not found">
    <!--<img class = "food_tile" src="/images/High.png" alt="Image not found">-->
    <p style="clear : both;"></p>
  </div>

  <div class = "wrapper">
      <button class="lets-fly-button" ng-click="backToHome()">Play Again!</button>
  </div>
</div>