<div ng-controller="IndexController">
  <!-- The variable in the ng-if is not the variable passed through, but the angular variable defined in the controller -->
  <div ng-if="carryScore == 0">
  	<div class = "textbox">
      BETTER LUCK NEXT TIME...
    </div>
  </div>

  <div ng-if="carryScore == 1">
    <div class = "textbox">
      SOME OF THOSE FOODS DID NOT GIVE ME ENOUGH ENERGY. WE CAN DO BETTER.
    </div>
  </div>
  
  <div ng-if="carryScore == 2">
  	<div class = "textbox">
      GOOD JOB!
    </div>
  </div>

  <div style="text-align: center;">
    <img class = "food_tile" src="/images/Carrots.png" alt="Image not found">
    <img class = "food_tile" src="/images/High.png" alt="Image not found">
    <p style="clear : both;"></p>
    <img class = "food_tile" src="/images/Chocolate.png" alt="Image not found">
    <img class = "food_tile" src="/images/Low.png" alt="Image not found">
    <p style="clear : both;">
    <img class = "food_tile" src="/images/Pasta.png" alt="Image not found">
    <img class = "food_tile" src="/images/Medium.png" alt="Image not found">
  </div>

  <div class = "wrapper">
      <button class="lets-fly-button" ng-click="backToHome()">Play Again!</button>
  </div>
</div>