<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Choose Your Foods!
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="food-div" ng-repeat="item in foodChoices">
        <img class="food" ng-src="{{item.url}}" ng-click="toggleFood(item.itemName)" ng-class="{active : isSelected(item.itemName)}">
    </div>

    <super-navigate ng-show="selected.length != 0" location="FlyTime#index?score={{ selectedScore }}">
      <button class="lets-fly-button">Let's Fly!</button>
    </super-navigate>
  </div>
</div>