<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Superhero Fueling
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class = "join-button" ng-repeat= "item in foodChoices">
        <img ng-src="{{item.url}}" ng-click="selectFood(item.itemName)" ng-class="{active : isSelected(item.itemName)}">
    </div>

    <super-navigate location="FlyTime#index?score={{ selectedScore }}">
      <button class="lets-fly-button">Let's Fly!</button>
    </super-navigate>
  </div>
</div>