<div ng-controller="IndexController">
	<super-navbar>
    	<super-navbar-title>
      	Facts about your choice
    	</super-navbar-title>
  	</super-navbar>

	<div class="padding">
    <!-- Display the specific food data -->
		<img class="food_tile" ng-src="{{ data.URL }}" alt="Image not found">
		<img class="powermeter" ng-src="{{ '/images/' + data.Power + '.png' }}" alt="Image not found">
		<p>{{ data.Fact }}</p>

		<div class="list">
			<div class="item item-divider">
    			Protein
  			</div>
			<div class="item range">
				<p>low</p>
				<input disabled type="range" name="protein" min="1" max="40" ng-model="data.Pr_g">
				<p>high</p>
			</div>
			<div class="item item-divider">
    			Carbohydrate
  			</div>
			<div class="item range">
				<p>low</p>
				<input disabled type="range" name="carbohydrate" min="1" max="50" ng-model="data.C_g">
				<p>high</p>
			</div>
			<div class="item item-divider">
    			Fat
  			</div>
			<div class="item range">
				<p>low</p>
				<input disabled type="range" name="fat" min="1" max="30" ng-model="data.F_g">
				<p>high</p>
			</div>
		</div>

		<div class="bottom-padding"></div>
	</div>

</div>